html, body {
    margin: 0;
  }
  
  html {
    font-family: Helvetica;
    Height: 100%
    
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    position: absolute;
    margin: 0;
    top: 3px;
    right: 5px;
    text-shadow: 0 0 4px blue;
    color: white;
  }
  p {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 5px;
    color: #aaa;
  }